<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 barre-haut">
    <a href="#" class="lien-inscription"><small>Inscription</small></a>
    <a href="#" class="lien-connexion"><small>Connexion</small></a>
    <form class="form-connexion">
        <input type="text" id="login" class="input-connexion" name="login" placeholder="Login"/>
        <input type="email" id="password" class="input-connexion" name="password" placeholder="**********"/>
        <input class="input-connexion" type="submit" value="Log In"/>
    </form>
</div>