<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banniere">
        <h1>Pronos-Challenge.com</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav  menu-ul">
                        <li><a href="./"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pronostics <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Ligue 1</a></li>
                                <li><a href="#">Premier League</a></li>
                                <li><a href="#">Liga</a></li>
                                <li><a href="#">Série A</a></li>
                                <li><a href="#">Bundesliga</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Champions League</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Euro 2016</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organisations <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Liste Organisations</a></li>
                                <li><a href="#">Créer Organisation</a></li>
                                <li><a href="#">Gestion</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profil <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mon compte</a></li>
                                <li><a href="#">Mes classements</a></li>
                                <li><a href="#">Mes organisations</a></li>
                            </ul>
                        </li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><small>Inscription</small></a></li>
                        <li><a href="#"><small>Connexion</small></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>
</div>