{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <p>
        Le compte est créé et activé!<br/>
        Vous êtes maintenant connecté en tant que {{ user.username }}.<br/><br/>
        <a href="{{ path('fos_user_security_logout')}}">Se déconnecter</a><br/><br/>
    </p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock %}